body{
    width: 100%;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #121212;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    height: 70px;
    max-width:800px;
    width: 100%;
    margin-top:100px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:40px;
}

.card-left, .card-right{
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:20px;
    padding:22px; 
    width: 300px;
    border-radius: 10px;
}

.cards .title{
    font-weight: bolder;
    font-size: large;
}

.card-left input{
    padding:10px;
    width:100%;
    border: 1px solid black;
    border-radius:5px;
    background-color: #2a2a2a;
    color: white;
}

.card-left input:focus{
    outline:none;
}

.card-left .cadastrar{
    background-color: #3a3a3a;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    color:white;
    width: 60%;
    cursor: pointer;
    font-weight: bold;
}

.cadastrar button:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }
  
  button:active {
    transform: scale(0.95);
  }

.user{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: #121212;
    padding:10px;
    border-radius:6px;
}

.user-info{
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 50%;
}

.user-info p{
    margin:0px;
}

.email{
    font-size: 12px;
    color:#ccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user .buttons{
    display:flex;
    gap:10px;
}

.buttons button{
    color:white;
    padding: 5px;
    border: 1px solid black;
    border-radius:5px;
    font-weight: bold;
    cursor:pointer;
}

.buttons .editar{
    background-color: #4CAF50;
}

.buttons .excluir{
    background-color: #f44336;
}